/* Styles the header section */
header {
    color:slategrey;
    line-height: 15pt;
    border-style:dashed;
    border-color:blue;
    border-width: 2px;
    padding-left: 15px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 500px;
}

/* Styles the title of the page */
h1 {
    background-color: rgb(42, 202, 235);
    color: #250042;
    font-size: 35px;
    line-height: normal;
    position: sticky;
    top: 0;
}

/* background color of navigation bar */
nav {
    background-color: hsl(238, 40%, 80%);
    width: 275px;
    font-size: 2.5ex;
}

summary {
    text-align: left;
    text-decoration: underline overline darkblue;
    font-size: 1rem;
}
details {
    text-align: center;
    font-family: "myFont";
}

h2, h3{
    background-color: lightgray;
    position: sticky;
    top: 0;
}

ul {
    border: 2px solid darkblue;
    min-width: 100px;
    max-width: 500px; 
    height: 1;
    margin: auto;
}

img {
    position: relative;
    left: 400px;
    width: 350px;
    height: 350px;
}

audio {
    position: fixed;
    top: 0mm;
    right: 0mm;
}

video {
    position: relative;
    bottom: 400px;
}

form {
    position: relative;
    bottom: 300px;
}

button:hover {
    background-color: red;
}

input:active {
    background-color: cyan;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightyellow;
    }
}

@font-face {
    font-family: "myFont";
    src: url(assets/FuzzyBubbles-Regular.ttf) format("truetype");
}

.needsAddressing {
    color: red;
}

#MeetingSummary {
    background-color: lightcyan;
}

* {
    font-size: 1em;
}

p {
    font-family: "myFont";
}

a[href$=".edu"] {
    color: red;
}

section p {
    color: purple;
}

section > p {
    color: blue;
}

div ~ p {
    background-color: lightyellow;
}

h3 + p {
    font-weight: bold;
}

ul.members {
    display: grid;
    grid-template-columns: auto auto auto;
}

ol {
    border-style:dotted;
    border-width: 2px;
    border-radius: 10px;
    width: 200px;
    margin: 0px 0px 0px 20px;
    padding: 15px 0px 15px 30px;
}