/* Styles the header section */
header {
    color:slategrey;
    line-height: 15pt;
}

/* Styles the title of the page */
h1 {
    background-color: rgb(42, 202, 235);
    color: #250042;
    font-size: 35px;
    line-height: normal;
    position: sticky;
    top: 0;
}

/* background color of navigation bar */
nav {
    background-color: hsl(238, 40%, 80%);
    width: 245px;
}

summary {
    text-align: left;
    text-decoration: underline overline darkblue;
}
details {
    text-align: center;
}

h2{
    background-color: lightgray;
    position: sticky;
    top: 0;
}

ul {
    border: 2px solid darkblue;
    min-width: 100px;
    max-width: 150px; 
    height: 1;
}

img {
    position: relative;
    left: 400px;
    width: 350px;
    height: 350px;
}

audio {
    position: fixed;
    top: 0px;
    right: 0px;
}

video {
    position: relative;
    bottom: 400px;
}

form {
    position: relative;
    bottom: 300px;
}

button:hover {
    background-color: red;
}

input:active {
    background-color: cyan;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightyellow;
    }
}